{% extends 'app/main/base.html' %}
{% block content %}


<div class="as_main_wrapper">
      
    <section class="as_breadcrum_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>shop Details</h1> 

                    <ul class="breadcrumb"> 
                        <li><a href="#">Home</a></li>
                        <li>shop Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  
    <section class="as_shopsingle_wrapper as_padderBottom80 as_padderTop80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="as_shopsingle_slider">
                        <div class="as_shopsingle_for">
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod4.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="as_shopsingle_nav">
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="as_prod_img">
                                <img src="/static/app/assets/images/prod4.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div class="as_product_description">
                        <h3 class="as_subheading as_margin0 as_padderBottom10">navgraha Yantra</h3>
                        <h2 class="as_price">$200 <del>$300</del></h2> 
                        <div class="product_rating as_padderBottom10">
                            <span class="ref_number as_font14">Ref No. 1456328</span> 
                            <span class="rating_star">
                                <img src="/static/app/assets/images/rating.png" alt="">
                            </span>
                        </div>
                        <p class="as_font14 as_padderBottom10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <div class="stock_details as_padderBottom10"><span>8 In Stock</span></div>
                        <div class="prod_quantity as_padderBottom40">
                            Quantity
                            <div class="quantity">
                                <button type="button" class="qty_button minus">
                                    -                </button>
                                <input type="text" id="quantity_6041ce9eca5d6" class="input-text form-control qty text" step="1" min="1" max="100" name="quantity" value="1" title="Qty" inputmode="numeric">
                                    
                                <button type="button" class="qty_button plus">
                                        +                </button>
                                </div>
                        </div>
                        <div class="product_buy">
                            <a href="shop.html" class="buy_btn as_btn">Buy Now</a>
                            <a href="#" class="ad_wishlist">Add To Wishlist 
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="as_tab_wrapper as_padderTop80">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Today" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true">Descriptions</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Tomorrow" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false">Review</button>
                              </li>
                        </ul>
                          
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="Today"> 
                               <h3 class="as_subheading as_orange">Description</h3>
                               <p class="as_font14 as_padderBottom20">Consectetur adipisicing elit, sed do eiusmod tempor incididunt uest labore et dolore magna aliqua. Ut enim ad minim veniam, sequis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duiess aute irure dolor in reprehenderit in volupisitate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat noeseiin proident.</p>

                               <h3 class="as_subheading as_orange">feature</h3>
                               <p class="as_font14 as_padderBottom20">Consectetur adipisicing elit, sed do eiusmod tempor incididunt uest labore et dolore magna aliqua. Ut enim ad minim veniam, sequis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duiess aute irure dolor in reprehenderit in volupsitate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat noeseiin proident, sunt isden culpa quesdei officia deserunt mollit anim id est laborumc ommodo consequat. Duiess aute irure.</p>
                            </div>
                            <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="Tomorrow"> 
                               <h3 class="as_subheading as_orange">Review</h3>
                               <p class="as_font14 as_padderBottom20">There are no review yet</p>

                               <h3 class="as_subheading as_orange">Add A Review</h3>
                               <p class="as_font14 as_padderBottom20">Your email address will not be published.</p>

                               <form action="#">
                                   <div class="form-group">
                                       <textarea name="" id="" placeholder="Your Review" class="form-control"></textarea>
                                   </div>

                                   <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" placeholder="Your Name" class="form-control" id="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="" class="form-control" placeholder="Your Email" class="form-control" id="">
                                            </div>
                                        </div>
                                   </div>

                                   <button class="as_btn">submit</button>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="as_product_wrapper as_padderBottom80 as_padderTop80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="as_heading as_heading_center">Related Products</h1>
                    <p class="as_font14 as_margin0 as_padderBottom20">Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut labore <br>etesde dolore magna aliquapspendisse and the gravida.</p>

                    <div class="row as_product_slider">
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod1.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod2.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod3.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod4.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod1.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod2.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod3.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod4.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod1.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod2.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod3.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="as_product_box">
                                <div class="as_product_img">
                                    <img src="/static/app/assets/images/prod4.jpg" alt="" class="img-responsive">

                                    <ul>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/wishlist.svg" alt=""></a></li>
                                        <li><a href="cart.html"><img src="/static/app/assets/images/svg/cart.svg" alt=""><span>Add To Card</span></a></li>
                                        <li><a href="shop.html"><img src="/static/app/assets/images/svg/compare.svg" alt=""></a></li>
                                    </ul>
                                </div> 
                                <span><img src="/static/app/assets/images/rating.png" alt=""></span>
                                <h4 class="as_subheading">Gemstone</h4>
                                <span class="as_price">$20 <del>$80</del> <span class="as_orange">(60% off)</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="as_customer_wrapper as_padderBottom80 as_padderTop80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="as_heading as_heading_center">What Our Customers Say</h1>
                    <p class="as_font14 as_margin0 as_padderBottom50">Consectetur adipiscing elit, sed do eiusmod tempor incididuesdeentiut labore <br>etesde dolore magna aliquapspendisse and the gravida.</p>

                    <div class="row as_customer_slider">
                        <div class="col-lg-6 col-md-6">
                            <div class="as_customer_box text-center">
                                <span class="as_customer_img">
                                    <img src="/static/app/assets/images/customer1.jpg" alt="">
                                    <span><img src="/static/app/assets/images/svg/quote1.svg" alt=""></span>
                                </span>
                                <p class="as_margin0">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidaesdisus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <h3 >David Parker</h3>
                                <p class="as_margin0">Astrologer</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="as_customer_box text-center">
                                <span class="as_customer_img">
                                    <img src="/static/app/assets/images/customer2.jpg" alt="">
                                    <span><img src="/static/app/assets/images/svg/quote1.svg" alt=""></span>
                                </span>
                                <p class="as_margin0">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidaesdisus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <h3 >John Parker</h3>
                                <p class="as_margin0">Astrologer</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="as_customer_box text-center">
                                <span class="as_customer_img">
                                    <img src="/static/app/assets/images/customer1.jpg" alt="">
                                    <span><img src="/static/app/assets/images/svg/quote1.svg" alt=""></span>
                                </span>
                                <p class="as_margin0">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidaesdisus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <h3 >John Parker</h3>
                                <p class="as_margin0">Astrologer</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="as_customer_box text-center">
                                <span class="as_customer_img">
                                    <img src="/static/app/assets/images/customer2.jpg" alt="">
                                    <span><img src="/static/app/assets/images/svg/quote1.svg" alt=""></span>
                                </span>
                                <p class="as_margin0">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravidaesdisus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <h3 >John Parker</h3>
                                <p class="as_margin0">Astrologer</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

  
</div>

  <!-- Modal -->
<div id="as_login" class="modal fade" tabindex="-1" aria-labelledby="as_login" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <div class="as_login_box active">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter email" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter password here" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <div class="as_login_data">
                                <label>Remember me
                                     <input type="checkbox" name="as_remember_me" value="">
                                     <span class="checkmark"></span>
                                </label>
                                <a href="#">Forgot password ?</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="javascript:;" class="as_btn">login</a>
                        </div>
                    </form>
                    <p class="text-center as_margin0 as_padderTop20">Create An Account ? <a href="javascript:;" class="as_orange as_signup">SignUp</a></p>
                </div>
                <div class="as_signup_box">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter name" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter email" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter password here" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Enter mobile number" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <select name="" class="form-control" id="">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <a href="javascript:;" class="as_btn">Sign Up</a>
                        </div>
                    </form>
                    <p class="text-center as_margin0 as_padderTop20">Have An Account ? <a href="javascript:;" class="as_orange as_login">Login</a></p>
                </div> 
            </div>
        </div>

    </div>
</div>





{% endblock content %}